.DS_Store
.cache/
.env
.env.local
node_modules/
artifacts/
cache/
coverage/
dist/

frontend/nextjs/.env.local
frontend/nextjs/.next/
frontend/nextjs/node_modules/
frontend/nextjs/.data/
frontend/nextjs/.turbo/

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
